.navbar-brand {
    background-color: lightseagreen;
    font-weight: bolder;
    color: white;
    }
div .navbar-nav {
    padding-right: 0%;
}
footer {
    border-top: solid lightseagreen 3px;
    text-align: center;
    background-color: rgb(57, 66, 66);
    color: grey;
}
.navbar-brand {
    border: none;
    outline: none;
    padding: none;
    text-emphasis: none;
}
.container {
    border: 2px red solid;
    background-color: white;
    padding: 0%;
}
body {
    background-color: lightgray;
}
.indexPic {
    height: 150px;
    width: 150px;
}
.wordGuess {
    height: 300px;
    width: 300px;
    padding: 20px;
    border: 1px solid red;
}
.rpgGame {
    height: 300px;
    width: 300px;
    padding: 20px;
    
}
.triviaGame {
    height: 300px;
    width: 300px;
    padding: 20px;
}
.infoWidget {
    height: 300px;
    width: 300px;
    padding: 20px;
}
.rockPaperScissors {
    height: 300px;
    width: 300px;
    padding: 20px;
}
.label {
    position: absolute;
    bottom: 0;
    background: rgb(0,0,0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    text-align: center;
}